.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 2px;
  }
  
  .cell {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    background: #ccc;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    
    transition: all 0.5s;
  }

  .cell.p1{
    background: dodgerblue;
    transform: scale(0.8);
  }

  .cell.p2{
    background: orange;
    transform: scale(0.8);
  }

  .hoverP1:hover{
    background: dodgerblue;
  }

  .hoverP2:hover{
    background: orange;
  }